* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
.header {
  text-align: center;
  margin: 0, auto;
  margin-top: 8rem;
  font-family: sans-serif;
  font-size: 2rem;
}
.name {
  color: #212529;
  margin: 0 0 5rem 1.4rem;
}
.flex__container {
  display: flex;
  justify-content: space-between;
}
.nav__bar {
  display: flex;

  margin: 3rem 0rem 0rem 0rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.nav_link {
  display: inline-block;
  margin-right: 3.3rem;
  text-decoration: none;
  font-size: 2.4rem;
  color: #495057;
  gap: 5rem;
}
.nav_link:hover {
  color: #212529;
}
.login_btn {
  margin-top: -3rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 15rem;
  height: 3rem;
  color: #1098ad;
  margin-right: 3rem;
  font-size: 2.4rem;
}
.login_btn:hover {
  color: #212529;
}
.btn_icon {
  color: #1098ad;
  width: 4rem;
  height: 2.6rem;
}

.content {
  display: flex;
  margin: 0, auto;
  margin-top: 4rem;
  text-align: center;
  background-image: url(/img/2h-media-2Dazhr7yJIg-unsplash.jpg);
  height: 110vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}
.content_text {
  font-size: 5rem;
  color: #212529;
  text-align: center;
}
.introduce_text {
  font-size: 3rem;
  color: #495057;
}
.introduce__section {
  text-align: center;
  font-size: 2.6rem;
  margin: 8rem;
  font-family: sans-serif;
  font-size: 2rem;
  height: 40vh;
}
.introduce__heading {
  margin-bottom: 2rem;
  font-size: 5rem;
}
.image__section {
  background-image: url(/img/1920.jpg);
  display: block;
  height: fit-content;
  background-size: cover;
  height: 100vh;
}
/* ******************** */
/* Experience section */

.experience__section {
  margin: 8rem;
  text-align: center;
}
.experience__img {
  text-align: center;
  border-radius: 50%;
}
.first_experience {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2.6rem;
}
.experience_header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.experience_header {
  margin-top: 10rem;
}
.exp_icon {
  width: 8rem;
  height: 8rem;
}
.exp_info {
  font-size: 3rem;
  text-align: left;
  color: #495057;
}
.past_exp {
  font-weight: 700;
  display: inline-block;
  margin-top: 2rem;
  font-size: 5rem;
}
.roles {
  display: inline-block;
  font-size: 2rem;
  margin-top: 1rem;
}
.job_title {
  color: #495057;
  text-align: left;
}

/* ********************* */
/* 
Proficiencies
 */

.proficiencies {
  margin-top: 30rem;
  color: #212529;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 2rem;
}
.prof_heading {
  font-size: 7rem;
  font-weight: 800;
}
.prof_text {
  font-size: 3rem;
}
